.page--recent15-days-trend {
  .day-info-wrapper {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
    padding-bottom: 2rem;
  }
  .active {
    background-color: #eeeeee66;
  }
  .past-style {
    opacity: .4;
  }
  .cpn--day-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    width: calc(100vw / 5);
    min-width: calc(100vw / 5);
    padding: 2rem 0;
    * {
      font-size: 1.4rem;
    }

    .date-text {
      font-size: 1.2rem;
      color: var(--text-color-5);
      transform: scale(0.8);
      margin-bottom: 2rem;
    }

    .temp-trend-box {
      height: 12rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .icon-weather {
      width: 3rem;
      height: 3rem;
    }

    .first-weather {
      margin-top: 2rem;
    }

    .windy-power-wrapper {
      margin-top: 1.6rem;

      .power-text {
        color: var(--text-color-5);
      }
    }

    .icon-windy-power {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: .2rem;
    }
    .tag-air {
      width: 75%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5adda6;
      background-color: #5adda610;
      border-radius: 2.4rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
    .tag-air-empty {
      background-color: transparent;
    }
  }
  .yeaterday {
    color: var(--text-color-5);
  }
}