:root {
  --status-height: 40px;
  --module-box-bg-color: #00000005;
  --module-box-radius: 2rem;
  --box-bg-white-opacity-1: #ffffff10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  letter-spacing: .1rem;
}

.g-page {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding-top: var(--status-height);
}

.g-center, .g-center-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-center-v {
  display: flex;
  align-items: center;
}

.g-center-v {
  display: flex;
  justify-content: center;
}

.g-center-abs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}